@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: whitesmoke;
}

.foo {
  margin-left: 10px;
}

.btn {
  margin-left: 10px;
  width: 90px;
}

.navClass {
  background-color: rgb(201, 77, 77) !important; 
  height: 60px;
}


.navbar-toggler {
    background-color: white;
}

.nav-text {
    color: white;
    text-align: center;
    margin: auto;
}

.sort-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  left: 30px;
  padding-top: 10px;
  /* border: 3px solid #73AD21; */
}

.sort-e {
  margin-right: 5px;
}

.checkboxStyle {
  margin-right: 1%;
}

.task-container {
  padding-top: 50px;
}

/* .task-style {
  font-weight: 600;
  padding-top: 20px;
  background-color: transparent;
} */

.left-pane {
  position: absolute;
  justify-content: left;
  height: 100%;
  width: 150px;
  background-color: rgb(219, 219, 219); 
}

.card-edit {
    position: fixed;
    position: absolute;
    top: 6px; 
    right: 10px;
}
  
.card-delete {
    position: absolute;
    bottom: 0;
    left: 75%;
    background-color: red;
    border-radius: 50px;
    padding: 4px 8px;
    margin-bottom: 12px;
  }

.content-container {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.task-add-btn {
    margin-top: 200px;
}

.filter-style {
    margin-top: 20px;
}

 .taskstyle {
    margin-top: 10px;
} 

.calendar-style {
    margin-right: 12px;
}

.offcanvas {
  background-color: #cccccc !important;
}

.navbar {
  background-color: #cccccc !important;
}

.container-fluid {
}

.sidebar-container {
  width: 220px !important;
  background-color: coral !important;
  text-align: center !important;
  margin: auto !important;
}

.sidebar-text {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  width: 18rem;
  margin-top: 10px;
}


.task-text {
  padding-left: 25px;
  padding-top: 5px;
}

.edit-type {
  padding-left: 10px;
}

.paperColor {
  background-color: #fafafa !important;
}

.breadStyle {
  text-align: right !important;
  float: right !important;
  position: 'relative' !important;
}
.buttonStyle {

}

.navDiv {
  /* background-color: blue !important;
  margin: 10px; */
}

hr {
  background-color: black !important;
}

